.block1{
    display: flex;
    justify-content: center;
}

#box1{
    display: flex;
    justify-content: center;
    border: 4px solid black;
    flex-basis: 175px;
    height: 250px;
}

.block2{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#box2{
    margin-left: 5px;
    margin-right: 5px;
    border: 4px solid black;
    flex-basis: 210px;
    height: 175px;
}

.block3{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#box3{
    border: 4px solid black;
    flex-basis: 850px;
    height: 175px;
}